.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  background-color: $hero-bg;
  border-radius: 10px;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    padding: 0 55px;
  }

  @include xl {
    padding: 0 64px 0 51px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 565px;

    @include lg {
      align-items: flex-start;
      padding-top: 81px;
      padding-bottom: 20px;
    }

    @include xl {
      max-width: 665px;
    }
  }

  &__title {
    @extend %title-text;
    font-size: 32px;
    margin-bottom: 20px;

    @include lg {
      font-size: 40px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 10px;

    @include lg {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.005em;
      margin-bottom: 6px;
    }
  }

  &__additional-text {
    font-size: 12px;
    line-height: normal;
    color: $gray-text;
    margin-bottom: 20px;

    @include lg {
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.0025em;
      margin-bottom: 16px;
    }
  }

  &__button {
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 59px;
    }
  }

  &__block-logo {
    display: flex;
    column-gap: 20px;
    row-gap: 14px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    @include lg {
      column-gap: 24px;
      justify-content: flex-start;
    }
  }

  &__img-logo {
    max-height: 24px;
    object-fit: contain;
    object-position: center;
    

    @include lg {
      max-height: 28px;
      flex-grow: 1;
    }
  }

  &__images {
    position: relative;
    width: 230px;
    height: 273px;
    border-radius: 12px;
    background: url('../images/hero.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include lg {
      margin: auto 0;
    }

    @include xl {
      width: 370px;
      height: 442px;
      margin-top: 53px;
      margin-bottom: 35px;
      border-radius: 19px;
    }
  }

  &__image-wrapper1 {
    position: absolute;
    top: -8px;
    left: -22px;
    height: 93px;
    width: 118px;
    border-radius: 5px;
    padding: 5px;
    transform: rotate(-1.5deg);
    opacity: 0;
    background-color: rgba(241, 247, 255, 0.9);
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
    @include appearance(wrapper1, -1.5deg);

    @include xl {
      top: -28px;
      left: -63px;
      height: 150px;
      width: 190px;
      border-radius: 9px;
      padding: 9px;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    }
  }

  &__image-wrapper2 {
    position: absolute;
    bottom: 25px;
    left: -25px;
    height: 55px;
    width: 102px;
    border-radius: 3.8px;
    padding: 4px;
    transform: rotate(-6.7deg);
    opacity: 0;
    background-color: rgba(241, 247, 255, 0.9);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
    @include appearance(wrapper2, -6.7deg);

    @include xl {
      bottom: 123px;
      left: -104px;
      height: 90px;
      width: 165px;
      border-radius: 6px;
      padding: 6px;
      box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
    }
  }

  &__image-wrapper3 {
    position: absolute;
    top: 50px;
    right: -25px;
    height: 55px;
    width: 101px;
    border-radius: 1.6px;
    padding: 2.5px;
    transform: rotate(5.6deg);
    opacity: 0;
    background-color: rgba(241, 247, 255, 0.9);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    @include appearance(wrapper3, 5.6deg);

    @include xl {
      top: 53px;
      right: -50px;
      height: 89px;
      width: 164px;
      border-radius: 2.6px;
      padding: 4px;
      box-shadow: 0 4px 19px rgba(0, 0, 0, 0.12);
    }
  }

  &__thumbnail1 {
    @extend %thumbnail;
    border-radius: 1.7px;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);

    @include xl {
      border-radius: 2.7px;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    }
  }

  &__thumbnail2 {
    @extend %thumbnail;
    border-radius: 2.3px;
    box-shadow: 0 1.5px 8px rgba(0, 0, 0, 0.08);

    @include xl {
      border-radius: 3.7px;
      box-shadow: 0 2.5px 12px rgba(0, 0, 0, 0.08);
    }
  }

  &__thumbnail3 {
    @extend %thumbnail;
    border-radius: 1.4px;
    box-shadow: 0 0.6px 3px rgba(0, 0, 0, 0.08);

    @include xl {
      border-radius: 2.3px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    }
  }
}
