.icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  text-decoration: none;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;

  &--menu {
    -webkit-mask-image: url('../images/icons/menu.svg');
    mask-image: url('../images/icons/menu.svg');
  }

  &--close {
    -webkit-mask-image: url('../images/icons/close.svg');
    mask-image: url('../images/icons/close.svg');
  }

  &--prev {
    -webkit-mask-image: url('../images/icons/prev.svg');
    mask-image: url('../images/icons/prev.svg');
  }

  &--next {
    -webkit-mask-image: url('../images/icons/next.svg');
    mask-image: url('../images/icons/next.svg');
  }
}
