.page {
  @extend %basic-text;
  color: $main-text;

  &__body {
    background: $page-bg;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    height: 100vh;
    padding: 100px 30px 30px 30px;
    z-index: 50;
    overflow-y: auto;
    background: #ffffff;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &--active {
      transform: translateX(0);
    }
  }

  &__mobile-menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}