.pop-up {
  margin: 87px auto 0;
  display: flex;
  width: 300px;
  justify-content: center;

  @include lg {
    margin: 114px auto 0;
    width: 800px;
  }

  &__img {
    display: none;
    width: 50%;
    background: url('../images/bg-popup.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include lg {
      display: block;
      border-radius: 15px 0 0 15px;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 38px 31px;
    background-color: #ffffff;
    border-radius: 11.25px;

    @include lg {
      width: 50%;
      padding: 27px 42px 28px 42px;
      border-radius: 0 15px 15px 0;
    }
  }

  &__close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 22.5px;
    height: 22.5px;
    padding: 3.75px;
    border-radius: 50%;
    border: none;
    background-color: $card-bg;
    transition: color 0.3s;

    @include lg {
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      padding: 5px;
    }

    &:hover {
      color: $button-bg;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 18px;

    @include lg {
      font-size: 34px;
      margin-bottom: 24px;
    }
  }

  &__text {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    text-align: center;

    @include lg {
      margin-bottom: 24px;
      font-size: 14px;
    }
  }

  &__powered-by {
    position: absolute;
    bottom: 11.25px;
    left: 50%;
    transform: translateX(-50%);
    
    @include lg {
      bottom: 15px;
    }
  }
}