@import "./normalize.css";
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(../fonts/Roboto-Black.ttf);
}
.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.link, .button--header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
}

.form__form-field::placeholder, .form__form-field {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.0025em;
}

.hero__thumbnail3, .hero__thumbnail2, .hero__thumbnail1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.page {
  color: #001e41;
}
.page__body {
  background: #ffffff;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  height: 100vh;
  padding: 100px 30px 30px 30px;
  z-index: 50;
  overflow-y: auto;
  background: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.page__mobile-menu--active {
  transform: translateX(0);
}
.page__mobile-menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page__pop-up {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
}
.page__pop-up--active {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 1024px) {
  .header {
    padding: 0 30px;
    height: 77px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 0;
    height: 77px;
  }
}
.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  max-width: 1256px;
}
.header__menu-icon {
  color: #001e41;
}
@media (min-width: 1024px) {
  .header__menu-icon {
    display: none;
  }
}
.header__menu-icon:hover {
  color: #5d78ff;
}
.header__menu {
  display: none;
}
@media (min-width: 1024px) {
  .header__menu {
    display: block;
  }
}
.header__buttons {
  display: none;
}
@media (min-width: 1024px) {
  .header__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__img {
  width: 89px;
  height: 21px;
  object-position: center;
  object-fit: contain;
}
@media (min-width: 1024px) {
  .logo__img {
    width: 140px;
    height: 34px;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
  align-items: center;
}
.menu__list--mobile {
  flex-direction: column;
}
.menu__link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  color: #7d7d7d;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #001e41;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  background-color: #5d78ff;
  border: none;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  .button {
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
  }
}
.button--form {
  padding: 9px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.5px;
  letter-spacing: 0;
}
@media (min-width: 1024px) {
  .button--form {
    padding: 12px;
    font-size: 16px;
    line-height: 18px;
  }
}
.button:disabled {
  cursor: auto;
  background-color: #aed1ff;
}
.button:hover:not([disabled]) {
  color: #001e41;
}
.button--header {
  padding: 6px 24px;
}

.link {
  font-weight: 400;
  text-decoration: none;
  color: #5d78ff;
  transition: all 0.3s;
}
.link:hover {
  color: #001e41;
}

.icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  text-decoration: none;
}
.icon--full {
  width: 100%;
  height: 100%;
}
.icon--menu {
  -webkit-mask-image: url("../images/icons/menu.svg");
  mask-image: url("../images/icons/menu.svg");
}
.icon--close {
  -webkit-mask-image: url("../images/icons/close.svg");
  mask-image: url("../images/icons/close.svg");
}
.icon--prev {
  -webkit-mask-image: url("../images/icons/prev.svg");
  mask-image: url("../images/icons/prev.svg");
}
.icon--next {
  -webkit-mask-image: url("../images/icons/next.svg");
  mask-image: url("../images/icons/next.svg");
}

.main {
  margin: 0 auto;
  padding: 60px 10px 0 10px;
  max-width: 1256px;
}
@media (min-width: 1024px) {
  .main {
    padding: 107px 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .main {
    padding: 117px 0 0 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  margin-bottom: 40px;
  background-color: #e2f2ff;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    padding: 0 55px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 0 64px 0 51px;
    margin-bottom: 100px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 565px;
}
@media (min-width: 1024px) {
  .hero__content {
    align-items: flex-start;
    padding-top: 81px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__content {
    max-width: 665px;
  }
}
.hero__title {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}
.hero__text {
  font-size: 12px;
  line-height: normal;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .hero__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    margin-bottom: 6px;
  }
}
.hero__additional-text {
  font-size: 12px;
  line-height: normal;
  color: #909090;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__additional-text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    margin-bottom: 16px;
  }
}
.hero__button {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__button {
    margin-bottom: 59px;
  }
}
.hero__block-logo {
  display: flex;
  column-gap: 20px;
  row-gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__block-logo {
    column-gap: 24px;
    justify-content: flex-start;
  }
}
.hero__img-logo {
  max-height: 24px;
  object-fit: contain;
  object-position: center;
}
@media (min-width: 1024px) {
  .hero__img-logo {
    max-height: 28px;
    flex-grow: 1;
  }
}
.hero__images {
  position: relative;
  width: 230px;
  height: 273px;
  border-radius: 12px;
  background: url("../images/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .hero__images {
    margin: auto 0;
  }
}
@media (min-width: 1440px) {
  .hero__images {
    width: 370px;
    height: 442px;
    margin-top: 53px;
    margin-bottom: 35px;
    border-radius: 19px;
  }
}
.hero__image-wrapper1 {
  position: absolute;
  top: -8px;
  left: -22px;
  height: 93px;
  width: 118px;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-1.5deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
  animation: wrapper1 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper1 {
  0% {
    transform: scale(0, 0);
    transform: rotate(-1.5deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(-1.5deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper1 {
    top: -28px;
    left: -63px;
    height: 150px;
    width: 190px;
    border-radius: 9px;
    padding: 9px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  }
}
.hero__image-wrapper2 {
  position: absolute;
  bottom: 25px;
  left: -25px;
  height: 55px;
  width: 102px;
  border-radius: 3.8px;
  padding: 4px;
  transform: rotate(-6.7deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
  animation: wrapper2 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper2 {
  0% {
    transform: scale(0, 0);
    transform: rotate(-6.7deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(-6.7deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper2 {
    bottom: 123px;
    left: -104px;
    height: 90px;
    width: 165px;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
  }
}
.hero__image-wrapper3 {
  position: absolute;
  top: 50px;
  right: -25px;
  height: 55px;
  width: 101px;
  border-radius: 1.6px;
  padding: 2.5px;
  transform: rotate(5.6deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  animation: wrapper3 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper3 {
  0% {
    transform: scale(0, 0);
    transform: rotate(5.6deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(5.6deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper3 {
    top: 53px;
    right: -50px;
    height: 89px;
    width: 164px;
    border-radius: 2.6px;
    padding: 4px;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.12);
  }
}
.hero__thumbnail1 {
  border-radius: 1.7px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail1 {
    border-radius: 2.7px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  }
}
.hero__thumbnail2 {
  border-radius: 2.3px;
  box-shadow: 0 1.5px 8px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail2 {
    border-radius: 3.7px;
    box-shadow: 0 2.5px 12px rgba(0, 0, 0, 0.08);
  }
}
.hero__thumbnail3 {
  border-radius: 1.4px;
  box-shadow: 0 0.6px 3px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail3 {
    border-radius: 2.3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  }
}

.reasons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reasons__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .reasons__head {
    margin-bottom: 40px;
  }
}
.reasons__swiper-buttons {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 28px;
}
@media (min-width: 768px) {
  .reasons__swiper-buttons {
    display: flex;
  }
}
.reasons__swiper-buttons .swiper-button-prev, .reasons__swiper-buttons .swiper-button-next {
  position: relative;
  top: 0;
  width: 28px;
  height: 28px;
  margin: 0;
  background-color: #5d78ff;
  padding: 0;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}
.reasons__swiper-buttons .swiper-button-prev:hover, .reasons__swiper-buttons .swiper-button-next:hover {
  color: #001e41;
}
.reasons__swiper-buttons .swiper-button-prev::after, .reasons__swiper-buttons .swiper-button-next::after {
  content: "";
}
.reasons__swiper-buttons .swiper-button-next {
  right: 0;
}
.reasons__swiper-buttons .swiper-button-prev {
  left: 0;
}
.reasons__title {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  color: #909090;
}
@media (min-width: 1024px) {
  .reasons__title {
    font-size: 28px;
  }
}
@media (min-width: 1440px) {
  .reasons__title {
    font-size: 36px;
    line-height: normal;
  }
}
.reasons__title--black {
  color: #001e41;
}
.reasons__container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  overflow-x: clip;
  overflow-y: visible;
}
@media (min-width: 768px) {
  .reasons__container {
    width: 619px;
  }
}
@media (min-width: 1024px) {
  .reasons__container {
    width: 936px;
  }
}
@media (min-width: 1440px) {
  .reasons__container {
    width: 1253px;
  }
}
.reasons__container .swiper-pagination {
  position: absolute;
  bottom: -25px;
}
.reasons__container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
}
.reasons__container .swiper-pagination-bullet-active {
  background: #5d78ff;
}
.reasons__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .reasons__footer {
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .reasons__footer {
    margin-bottom: 74px;
  }
}
.reasons__footer-text {
  text-align: center;
  max-width: 440px;
  font-size: 12px;
  line-height: normal;
}
@media (min-width: 768px) {
  .reasons__footer-text {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .reasons__footer-text {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.0025em;
  }
}

.reason {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 372px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8fa;
  overflow: hidden;
}
.reason__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .reason__title {
    font-weight: 700;
  }
}
.reason__text {
  position: relative;
  z-index: 3;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0025em;
}
@media (min-width: 1024px) {
  .reason__text {
    font-size: 14px;
  }
}
.reason__number {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 91px;
  z-index: 2;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  color: #ffffff;
}
.reason__ellipse {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 219px;
  border-radius: 50%;
  z-index: 1;
  transform: translate(50%, 50%);
  background-color: #e3eeff;
}

.pop-up {
  margin: 87px auto 0;
  display: flex;
  width: 300px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .pop-up {
    margin: 114px auto 0;
    width: 800px;
  }
}
.pop-up__img {
  display: none;
  width: 50%;
  background: url("../images/bg-popup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .pop-up__img {
    display: block;
    border-radius: 15px 0 0 15px;
  }
}
.pop-up__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 38px 31px;
  background-color: #ffffff;
  border-radius: 11.25px;
}
@media (min-width: 1024px) {
  .pop-up__content {
    width: 50%;
    padding: 27px 42px 28px 42px;
    border-radius: 0 15px 15px 0;
  }
}
.pop-up__close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 22.5px;
  height: 22.5px;
  padding: 3.75px;
  border-radius: 50%;
  border: none;
  background-color: #f8f8fa;
  transition: color 0.3s;
}
@media (min-width: 1024px) {
  .pop-up__close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
.pop-up__close:hover {
  color: #5d78ff;
}
.pop-up__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 18px;
}
@media (min-width: 1024px) {
  .pop-up__title {
    font-size: 34px;
    margin-bottom: 24px;
  }
}
.pop-up__text {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0025em;
  text-align: center;
}
@media (min-width: 1024px) {
  .pop-up__text {
    margin-bottom: 24px;
    font-size: 14px;
  }
}
.pop-up__powered-by {
  position: absolute;
  bottom: 11.25px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1024px) {
  .pop-up__powered-by {
    bottom: 15px;
  }
}

.powered-by {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  font-size: 9px;
  color: #bdbdbd;
}
@media (min-width: 1024px) {
  .powered-by {
    font-size: 12px;
  }
}
.powered-by__logo {
  height: 14.5px;
  object-position: center;
  object-fit: contain;
}
@media (min-width: 1024px) {
  .powered-by__logo {
    height: 20px;
  }
}
.powered-by__link {
  font-weight: 400;
  color: #bdbdbd;
  transition: color 0.3s;
}
.powered-by__link:hover {
  color: #5d78ff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
@media (min-width: 1024px) {
  .form__field-wrapper {
    gap: 4px;
  }
}
.form__field-wrapper:not(:last-child) {
  margin-bottom: 6px;
}
@media (min-width: 1024px) {
  .form__field-wrapper:not(:last-child) {
    margin-bottom: 8px;
  }
}
.form__fields {
  margin-bottom: 25.5px;
}
@media (min-width: 1024px) {
  .form__fields {
    margin-bottom: 34px;
  }
}
.form__label {
  font-size: 9px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.0025em;
  color: #909090;
}
@media (min-width: 1024px) {
  .form__label {
    font-size: 12px;
  }
}
.form__form-field {
  height: 28px;
  padding: 6px 9px;
  border-radius: 6px;
  border: 1px solid #d5d5d6;
  font-size: 10.5px;
}
@media (min-width: 1024px) {
  .form__form-field {
    height: 37px;
    padding: 8px 12px;
    font-size: 14px;
  }
}
.form__form-field--error {
  border: 1px solid red;
}
.form__form-field::placeholder {
  font-size: 10.5px;
  color: #bdbdbd;
}
@media (min-width: 1024px) {
  .form__form-field::placeholder {
    font-size: 14px;
  }
}
.form__form-field:-webkit-autofill, .form__form-field:-webkit-autofill:hover, .form__form-field:-webkit-autofill:focus {
  outline: none;
  border: none;
  -webkit-text-fill-color: #001e41;
  -webkit-box-shadow: 0 0 0px 1000px #aed1ff inset;
  background-color: #aed1ff;
}
.form__error {
  display: none;
  font-size: 9px;
  color: red;
}
@media (min-width: 1024px) {
  .form__error {
    font-size: 12px;
  }
}
.form__error--active {
  display: block;
}
.form__buttons {
  display: flex;
  width: 100%;
  gap: 7.5px;
  margin-bottom: 25.5px;
}
@media (min-width: 1024px) {
  .form__buttons {
    gap: 10px;
    margin-bottom: 34px;
  }
}
.form__button {
  width: 50%;
}
.form__check-wrapper {
  width: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
}
@media (min-width: 1024px) {
  .form__check-wrapper {
    gap: 8px;
  }
}
.form__check {
  margin: 0;
  width: 9.75px;
  height: 9.75px;
}
@media (min-width: 1024px) {
  .form__check {
    width: 13px;
    height: 13px;
  }
}
.form__check-label {
  font-size: 9.75px;
  font-weight: 400;
  color: #909090;
}
@media (min-width: 1024px) {
  .form__check-label {
    font-size: 13px;
  }
}
.form__link {
  color: #5d78ff;
  text-decoration: none;
}
.form__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
