@import "./normalize.css";
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(../fonts/Roboto-Black.ttf);
}
.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.link, .button--header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
}

.hero__thumbnail3, .hero__thumbnail2, .hero__thumbnail1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.page {
  color: #001e41;
}
.page__body {
  background: #ffffff;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  height: 100vh;
  padding: 100px 30px 30px 30px;
  z-index: 50;
  overflow-y: auto;
  background: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.page__mobile-menu--active {
  transform: translateX(0);
}
.page__mobile-menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 1024px) {
  .header {
    padding: 0 30px;
    height: 77px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 0;
    height: 77px;
  }
}
.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  max-width: 1256px;
}
.header__menu-icon {
  color: #001e41;
}
@media (min-width: 1024px) {
  .header__menu-icon {
    display: none;
  }
}
.header__menu-icon:hover {
  color: #5d78ff;
}
.header__menu {
  display: none;
}
@media (min-width: 1024px) {
  .header__menu {
    display: block;
  }
}
.header__buttons {
  display: none;
}
@media (min-width: 1024px) {
  .header__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__img {
  width: 89px;
  height: 21px;
  object-position: center;
  object-fit: contain;
}
@media (min-width: 1024px) {
  .logo__img {
    width: 140px;
    height: 34px;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
  align-items: center;
}
.menu__list--mobile {
  flex-direction: column;
}
.menu__link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  color: #7d7d7d;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #001e41;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  background-color: #5d78ff;
  border: none;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 1024px) {
  .button {
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
  }
}
.button:hover {
  color: #001e41;
}
.button--header {
  padding: 6px 24px;
}

.link {
  font-weight: 400;
  text-decoration: none;
  color: #5d78ff;
  transition: all 0.3s;
}
.link:hover {
  color: #001e41;
}

.icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  text-decoration: none;
}
.icon--menu {
  -webkit-mask-image: url("../images/icons/menu.svg");
  mask-image: url("../images/icons/menu.svg");
}
.icon--close {
  -webkit-mask-image: url("../images/icons/close.svg");
  mask-image: url("../images/icons/close.svg");
}

.main {
  margin: 0 auto;
  padding: 60px 10px 29px 10px;
  max-width: 1256px;
}
@media (min-width: 1024px) {
  .main {
    padding: 107px 30px 40px 30px;
  }
}
@media (min-width: 1440px) {
  .main {
    padding: 117px 0 74px 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  background-color: #e2f2ff;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    padding: 0 55px;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 0 64px 0 51px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 565px;
}
@media (min-width: 1024px) {
  .hero__content {
    align-items: flex-start;
    padding-top: 81px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__content {
    max-width: 665px;
  }
}
.hero__title {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}
.hero__text {
  font-size: 12px;
  line-height: normal;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .hero__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    margin-bottom: 6px;
  }
}
.hero__additional-text {
  font-size: 12px;
  line-height: normal;
  color: #909090;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__additional-text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    margin-bottom: 16px;
  }
}
.hero__button {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .hero__button {
    margin-bottom: 59px;
  }
}
.hero__block-logo {
  display: flex;
  column-gap: 20px;
  row-gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__block-logo {
    column-gap: 24px;
    justify-content: flex-start;
  }
}
.hero__img-logo {
  max-height: 24px;
  object-fit: contain;
  object-position: center;
}
@media (min-width: 1024px) {
  .hero__img-logo {
    max-height: 28px;
    flex-grow: 1;
  }
}
.hero__images {
  position: relative;
  width: 230px;
  height: 273px;
  border-radius: 12px;
  background: url("../images/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .hero__images {
    margin: auto 0;
  }
}
@media (min-width: 1440px) {
  .hero__images {
    width: 370px;
    height: 442px;
    margin-top: 53px;
    margin-bottom: 35px;
    border-radius: 19px;
  }
}
.hero__image-wrapper1 {
  position: absolute;
  top: -8px;
  left: -22px;
  height: 93px;
  width: 118px;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-1.5deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
  animation: wrapper1 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper1 {
  0% {
    transform: scale(0, 0);
    transform: rotate(-1.5deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(-1.5deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper1 {
    top: -28px;
    left: -63px;
    height: 150px;
    width: 190px;
    border-radius: 9px;
    padding: 9px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  }
}
.hero__image-wrapper2 {
  position: absolute;
  bottom: 25px;
  left: -25px;
  height: 55px;
  width: 102px;
  border-radius: 3.8px;
  padding: 4px;
  transform: rotate(-6.7deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
  animation: wrapper2 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper2 {
  0% {
    transform: scale(0, 0);
    transform: rotate(-6.7deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(-6.7deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper2 {
    bottom: 123px;
    left: -104px;
    height: 90px;
    width: 165px;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
  }
}
.hero__image-wrapper3 {
  position: absolute;
  top: 50px;
  right: -25px;
  height: 55px;
  width: 101px;
  border-radius: 1.6px;
  padding: 2.5px;
  transform: rotate(5.6deg);
  opacity: 0;
  background-color: rgba(241, 247, 255, 0.9);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  animation: wrapper3 1.2s ease-out 0.7s forwards;
}
@keyframes wrapper3 {
  0% {
    transform: scale(0, 0);
    transform: rotate(5.6deg);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(5.6deg);
  }
}
@media (min-width: 1440px) {
  .hero__image-wrapper3 {
    top: 53px;
    right: -50px;
    height: 89px;
    width: 164px;
    border-radius: 2.6px;
    padding: 4px;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.12);
  }
}
.hero__thumbnail1 {
  border-radius: 1.7px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail1 {
    border-radius: 2.7px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  }
}
.hero__thumbnail2 {
  border-radius: 2.3px;
  box-shadow: 0 1.5px 8px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail2 {
    border-radius: 3.7px;
    box-shadow: 0 2.5px 12px rgba(0, 0, 0, 0.08);
  }
}
.hero__thumbnail3 {
  border-radius: 1.4px;
  box-shadow: 0 0.6px 3px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px) {
  .hero__thumbnail3 {
    border-radius: 2.3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  }
}

/*# sourceMappingURL=main.css.map */
